---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { nativeReplacements, microUtilsReplacements, preferredReplacements, type ModuleReplacement } from 'module-replacements';

const nameSorter = (a: ModuleReplacement, b: ModuleReplacement) => a.moduleName > b.moduleName ? 1 : -1;

let native = nativeReplacements.moduleReplacements.toSorted(nameSorter);
let microUtils = microUtilsReplacements.moduleReplacements.toSorted(nameSorter);
let preferred = preferredReplacements.moduleReplacements.toSorted(nameSorter);

---

<Layout title="Module Replacements">
	<main>
		<h1><a href="https://github.com/es-tooling/module-replacements">Module Replacements</a></h1>
		<h2>Native replacements</h2>
		<ul role="list" class="replacement-card-grid">
		{native.map((rep) => (
			<Card replacement={rep} />
		))}
		</ul>
		<hr />
		<h2>Micro utilities</h2>
		<ul role="list" class="replacement-card-grid">
		{microUtils.map((rep) => (
			<Card replacement={rep} />
		))}
		</ul>
		<hr />
		<h2>Preferred replacements</h2>
		<ul role="list" class="replacement-card-list">
		{preferred.map((rep) => (
			<Card replacement={rep} />
		))}
		</ul>
	</main>
</Layout>

<style>
.replacement-card-grid {
	display: grid;
	padding: 0;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	align-items: start;
}

.replacement-card-list {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

hr {
	margin-block: 40px;
}
</style>
